#floatingInput:focus {
  outline: none;
  border: none;
  box-shadow: none;
}


.font {
  font-size: 30px;
}

.color {
  background-color: #dddddd;
}

.wrapper:focus {
  border: 1px soild rgb(34, 14, 14);
}

#floatingInput {
  border: none;
  outline: none;
  box-shadow: none;
}

.custom-class {
  background-color: #f8f8f8;
}

.custom-width {
  width: 100%;
}

.email {
  font-size: 23px;
  margin-top: 10px;
}




.img-class {

  background-color: rgb(255, 254, 254);
}


.wrapper {
  background-color: #fffdfd;
  border: none;
}

.color-input {
  background-color: transparent;
  height: 30px;
  width: 100%;
}

#floatingInput {
  margin-bottom: -10px;
}